#title {
  -fx-font-size: 30px;
  -fx-padding: 30px 0 10px 0;
  -fx-font-weight: bold;
  -fx-text-fill: radial-gradient(center 50% 50%, radius 50%, #C6F7D0 0%, #34C759 100%);
  -fx-font-family: "Segoe UI", "Arial", sans-serif;
}

.button {
  -fx-effect: dropshadow(gaussian, #000000, 5, 0, 0, 2);
  -fx-pref-width: 130;
  -fx-pref-height: 40;
}

.button:hover {
  -fx-effect: dropshadow(gaussian, #000000, 10, 0, 0, 5);
  -fx-cursor: hand;
}
.btn-main:focused,.btn-main:pressed,.btn-main:selected,.btn-main:active {
  -fx-background-color: radial-gradient(center 50% 50%, radius 50%, #C6F7D0 0%, #34C759 100%);
  -fx-text-fill: orange; 
  -fx-font-weight: bold;
}

/* main root */
#contentArea {
  -fx-background-color: linear-gradient(to bottom, #87cefa 0%, #c6efce 100%);

}

/* textField-featuer */
#textField-featuer, #textArea{
  -fx-border-radius: 10;
  -fx-background-radius: 10;
}

#vBox-add, #vBox-feedback, #vBox-upd, #vBox-del{
  -fx-padding: 50px 100px 50px 100px;
  -fx-alignment: CENTER;
}
#vBox-ser, #vBox-show{
  -fx-padding: 50px 0px 50px 0px;
  -fx-alignment: TOP_CENTER;
}



/* vBox Table */
#vBox-table{
  -fx-padding: 280px 50px 100px 50px;
}
#vBox-table-show{
  -fx-padding: 150px 20px 20px 20px;
}

.title-add, .title-fb, .title-ser, .title-upd , .title-del, .title-show{
  -fx-font-size: 42;
  -fx-padding: 0px 0px 23px 0;
  -fx-font-weight: 900;
  -fx-text-fill: linear-gradient(to right, #6A82FB, #FC5C7D);
}


.label-add {
  -fx-padding: 10px 0px 0px 0;
  -fx-font-size: 16;
  -fx-font-weight: bold;
  -fx-text-fill: Black;
  -fx-pref-width: 150;
}


/* Button submit featurs */
.add-btn, .fb-btn, .upd-btn, .del-btn, .ser-btn{
  -fx-padding: 10px 20px;
  -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #FFA07A 0%, #FF9900 100%);
  -fx-background-radius: 20;
  -fx-text-fill: white; 
  -fx-font-size: 16; 
  -fx-font-weight: bold;
}


/* Search featuer */

.title-sear{
  -fx-padding: 40px 170px 50px 80px;
}
